body {
    margin: 0; 
    padding: 0;
}

.Home-container {
    width: 100%;
    padding: 70px 10px;
    background-color: #E0E5E9;
    
    h1 {
    color: #191718;
    font-family: "PtSans-Bold", sans-serif;
    font-weight: 700;
    }

    img {
        width: 200px;
    }
}
