body {
    background-color: #191718;
    overflow: hidden;
}

.login-page {

    .container {
        justify-content: center;
        display: flex;
        width: 100%;
        height: 1000px;
        align-items: center;
    }
    .login-col {
        display: flex;
        justify-content: center;
    }

    .login-title {
        color: #ffffff;
        text-align: center;
        font-family: "PtSans-Bold", sans-serif;
        font-size: 40px;
        font-weight: 700;
        position: relative;
        width: auto;
    }

    .login-describtion-col {
        display: flex;
        justify-content: center;
        margin-bottom: 25px;
    }

    .please-enter-your-login-and-your-password {
        color: #ffffff;
        text-align: left;
        font-family: "PtSans-Bold", sans-serif;
        font-size: 18px;
        font-weight: 700;
        position: relative;
        width: auto;
    }

    .username-col {
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
    }

    .email {
        position: relative;
    }

    .rectangle-1 {
        background: rgba(255, 255, 255, 0);
        border-radius: 15px;
        border-style: solid;
        border-color: #ffffff;
        border-width: 1px;
        width: 352px;
        height: 45px;
        position: relative;
    }

    .username-or-email {
        color: #a5a5a5;
        text-align: left;
        font-family: "PtSans-Bold", sans-serif;
        font-size: 15px;
        font-weight: 700;
        position: absolute;
        left: 55px;
        top: 15px;
        width: 270px;
        height: 20px;
        background: none;
        border: none;
    }

    input.username-or-email:focus {
        outline: none;
        border: none; /* Optionally, remove the border */
    }

    .user {
        width: 37px;
        height: 37px;
        position: absolute;
        left: 10px;
        top: 5px;
        overflow: visible;
    }


    .password-col {
        display: flex;
        justify-content: center;
    }

    .password {
        margin-bottom: 40px;
        position: relative;
    }

    .password2 {
        color: #a5a5a5;
        text-align: left;
        font-family: "PtSans-Bold", sans-serif;
        font-size: 15px;
        font-weight: 700;
        position: absolute;
        left: 55px;
        top: 15px;
        width: 270px;
        height: 20px;
        background: none;
        border: none;
    }

    input.password2:focus {
        outline: none;
        border: none; /* Optionally, remove the border */
    }

    .lock {
        height: auto;
        position: absolute;
        left: 10px;
        top: 5px;
        overflow: visible;
    }

    .login-button {
        height: 45px;
        position: relative;
        border: none;
        background: none;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .login-button-col {
        display: flex;
        justify-content: center;
    }

    .login-rectangle {
        background: rgba(255, 255, 255, 0);
        border-radius: 15px;
        border-style: solid;
        border-color: #36981d;
        border-width: 2px;
        display: flex;
        justify-content: center;
    }

    .rectangle-2 {
        width: 352px;
        height: 45px;
        position: relative;
    }

    .login {
        color: #36981d;
        text-align: center;
        font-family: "PtSans-Bold", sans-serif;
        font-size: 15px;
        font-weight: 700;
        position: absolute;
        width: auto;
        top: 13px;
    }

    div {
        margin: 0px 0px 0px 0px;
    }

    .bg-effects {
        display: none;
    }



    @media only screen and (min-width: 992px) {

        .bg-effects {
            display: block;
        }

        .corner-vector {
            position: absolute;
            bottom: 0;
            right: 0;
        }


        .ellipse {
            background: #e0e5e9;
            border-radius: 50%;
            position: absolute;
        }

        .ellipse-topleft {
            height: 775.13px;
            width: 775.13px;
            top: -387.565px;
            left: -387.565px;
        }

        .ellipse-bottomleft {
            height: 470px;
            width: 470px;
            bottom: -235px;
            left: -235px;
        }

        .login-rectangle:hover {
            background-color: #aed5a4;
            cursor: pointer;
        }
    }
}